AUTH_SERVICE_PORT=8081
ACCOUNT_SERVICE_PORT=8082
TRANSACTION_SERVICE_PORT=8083
LEDGER_SERVICE_PORT=8084

AUTH_DB_PORT=5432
ACCOUNT_DB_PORT=5433
TRANSACTION_DB_PORT=5434
LEDGER_DB_PORT=5435

POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=change-me
AUTH_DB_URL=jdbc:postgresql://auth-db:5432/auth_db
ACCOUNT_DB_URL=jdbc:postgresql://account-db:5432/account_db
TRANSACTION_DB_URL=jdbc:postgresql://transaction-db:5432/transaction_db
LEDGER_DB_URL=jdbc:postgresql://ledger-db:5432/ledger_db

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_EXTERNAL_PORT=9094
KAFDROP_PORT=9000

ACCOUNT_SERVICE_URL=http://account-service:8082

JWT_SECRET=
JWT_EXPIRATION=86400000

INTERNAL_API_KEY=